<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>聊天室</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <style>
    html, body {
      height: 100%;
    }
    body {
      position: relative;
      margin: 0;
      padding: 0 4%;
    }
    article {
      position: absolute;
      left: 4%;
      right: 4%;
      top: 30px;
      bottom: 70px;
      border: 1px solid #333;
      overflow: auto;
    }
    footer {
      position: absolute;
      left: 4%;
      right: 4%;
      bottom: 10px;
      height: 40px;
    }
    ul, li {
      list-style: none;
      padding: 0
    }
    li {
      margin: 10px;
      padding: 10px;
      border: 1px solid goldenrod;
    }
  </style>
</head>
<body>
  <span style="line-height:30px">聊天室 - 欢迎<span id="name"><%= name %></span></span>
  <article>
    <ul class="list">
    </ul>
  </article>
  <footer>
    <div class="row" style="margin-right:0">
      <div class="col-md-10 col-xs-9">
        <input type="text" class="form-control" id="message" placeholder="message">
      </div>
      <button id="send" class="btn btn-primary col-md-2 col-xs-3">发送</button>
    </div>
  </footer>
  
  <script src="/js/jquery-1.11.3.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io()
    $('#message').keydown(function(e) {
      if(e.keyCode != 13 || !$(this).val()) {
        return
      }
      socket.emit('send', {
        name: $('#name').html(),
        msg: $(this).val()
      })
      $(this).val('')
    })
    $('#send').click(function(e) {
      socket.emit('send', {
        name: $('#name').html(),
        msg: $('#message').val()
      })
      $('#message').val('')
    })

    socket.on('reSend', function(result) {
      var html = '';
      if($('#name').html() == result.name) {
        html = '<li style="border-color: skyblue">'
      }else {
        html = '<li>'
      }
      html += `
            <p>${result.name}:</p>
            <span>${result.msg}</span>
          </li>
      `
      $('.list').append(html)
      $('article').scrollTop( $('.list').height() - $('article').height() + 20 ) 
    })
  </script>
</body>
</html>