<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>add</title>
</head>
<body>
  <h1>添加学生</h1>
  <a href="/">返回</a>
  <form action="/submit" method="get">
    <p>
      姓名：<input type="text" name="name">
    </p>
    <p>
      年龄：<input type="text" name="age">
    </p>
    <p>
      数学分数：<input type="text" name="shuxue">
    </p>
    <p>
      语文分数：<input type="text" name="yuwen">
    </p>
    <p>
      <input type="submit" value="提交">
    </p>
  </form>
</body>
</html>